<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a routerLink="" class="navbar-brand">Angular 4</a>
		</div>
		<div class="collaspe navbar-collaspe">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active"><a routerLink="/" style="cursor: pointer">Basic Angular</a></li>
				<li routerLinkActive="active"><a routerLink="/" style="cursor: pointer">Advanced</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li routerLinkActive="active"><a routerLink="/signup" style="cursor: pointer">Register</a></li>
				<li routerLinkActive="active"><a routerLink="/signin" style="cursor: pointer">Login</a></li>
				<li class="dropdown" appDropdown>
					<a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a style="cursor: pointer;">Save Data</a></li>
						<li><a style="cursor: pointer;">Fetch Data</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>